@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@300;400;500;600;700&display=swap');

* {
    font-family: 'Readex Pro';
}

body {
    color: #000;
    /* Default text color */
    padding-top: 0rem;
    /* Reduced space at the top of the page */
}

a {
    text-decoration: none;
    color: #007bff !important;
    /* Default link color */
    font-weight: 500;
}

a:hover {
    color: #d33682 !important;
    text-decoration: none;
}

ul {
    list-style-type: none;
}

hr {
    margin-top: 0px;
    margin-bottom: 5%;
}

#MainMenu {
    visibility: hidden;
}

footer {
    visibility: hidden;
}

header {
    visibility: hidden;
}

/* Specific styles for the Projects & Accomplishments section */
.stMarkdown ul li {
    color: #000 !important;
    /* Ensure list text is black */
}

.stMarkdown ul li a {
    color: #007bff !important;
    /* Link color */
}

/* Specific styles for the Contact section */
.stMarkdown p {
    color: #000 !important;
    /* Ensure paragraph text is black */
}

.stMarkdown p a {
    color: #007bff !important;
    /* Email link color */
}

/* --- Custom CSS for the Quote Section --- */
.quote {
    text-align: center;
    color: black;
    font-style: italic;
    font-weight: bold;
    margin-top: 5px;
}

.quote-author {
    text-align: center;
    color: black;
    font-style: italic;
}